.navbar {
    top: -2%;
}

header {
    position: relative;
    top: -4.4%;
    opacity: 0.7;

}

.testing {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

#loginLogout{

    margin: -3.5%;
}

/*.flex, .flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex:1 1 auto;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: flex-end;
    align-content: flex-end;
}*/
